.galaxyvideo{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio:1920/1080){
    .galaxyvideo{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio:1920/1080){
    .galaxyvideo{
        width: auto;
        height: 100%;
    }
}